
# /docs/
/docs/keyczar.pdf
/docs/tmp

# /java/code/
/java/code/target
/java/code/.pydevproject

# /java/code/.settings/
/java/code/.settings/*

# /python/.settings/
/python/.settings/*

# /cpp
/cpp/src/.sconf_temp
/cpp/src/scons-out
*pyc